*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.gitignore
/buildSrc/build/
buildSrc/build/kotlin/
data/build/
home/build/
listpager/build/
network/build/
sidesheet/build/
translations/build/
translators/build/
